    .header-title {
        display: flex;
        color: black;
        align-items: center;
        width: 150px;
        height: 150px;
    }
    
    body,
    html {
        margin: 0;
        padding: 0;
    }
    
    .row {
        margin: 0 !important;
    }
    
    .icons {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        gap: 3%;
    }
    
    .fa-brands {
        padding: 0.8rem;
        border: 1px solid white;
        border-radius: 5%;
        color: white;
    }
    
    #headingtitle {
        display: flex;
        justify-content: center;
        margin: 12% 40%;
        padding: 3%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .card-header {
        display: flex;
        gap: 80%;
    }
    
    .footer {
        margin-top: 60px;
    }
    
    .starter-text {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }